h1 {
	color: #933622;
  	font-weight: bold;
 	font-size: 60px;
 	text-align: center;
}
 h2 {
 	text-align: center;
 	color: #933622;
 }

li {
	color: 492016;
}

p {
 text-align:center
}

body {background-color: #92a8d1;}