body {
margin: 0px;
}

a {
	text-indent: 10px;
}
h1 {
	color: #933622;
  	font-weight: bold;
  	margin: 10px;
}

h2 {
 	text-align: center;
 	color: #933622;
 }

li {
	color: 492016;
}

p {
	margin: 10px;
}

img {
	align-content: center;
}

button {
	padding: 10px;
	margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
  background-image: url("https://i.pinimg.com/originals/32/f0/c0/32f0c09e724d80fe8e6a0e289d5fb057.jpg");
}

