h1 {
	color: #933622;
  	font-weight: bold;
 	font-size: 60px;
 	text-align: center;
}
 h2 {
 	text-align: center;
 	color: #933622;
 }

li {
	color: 492016;
}

p {
 text-align:center;
}

img {
	align-content: center;
	max-width: 500px;
}

button {
	padding: 10px;
}